.venv*
venv*
.databricks
.vscode
*__pycache__*
.databricks
build/
dist/
*.egg-info
scratch/**
!scratch/README.md
*scratch.py
scratch*
.pytest_cache
*.whl
!wheels/*
*data_catalogue.yml
typings/
.ruff_cache
/data/*

# local dynaconf config
config/settings.local.yaml 
config/.env.local
